.playlist-btn{
    display: inline-block;
    height: 17rem;
    width:11rem;
    margin-left: 3rem;
    border: none;
    border-radius: 5px;
    text-align: left;
    color: white;
    background-color: rgb(27, 25, 25);
    font-family: 'Inter';
}

.btn-img{
    margin-left: -1rem;
}

.btn-header{
    margin-top: 0.1rem;
}

.btn-text{
    margin-top: 0.5rem;
    font-size: 10px;
    text-align: left;
}